@media screen and (max-width : 768px) {
    galler{
        flex-direction: column;
        align-items: center;
    }
    .gallery img{
        width: 90%;
    }
}




body {
  height: 100vh;
  margin: 0;

  background-color: #d8cfcf;
  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, #080d2c, #080d2c, #080d2c);
    background-color: transparent;
}

.logo {
    padding: 0 5rem;
}

.logo .logo-heading {
    color: #fff;
    
    font-family: 'Courier New', Courier, monospace;
    
}
.menu {
    padding: 0 5rem;
    font-family: 'Courier New', Courier, monospace;
}

.cross-icon {
    display: none;
}

.menu .menu-list {
    display: flex;
    list-style: none;
}

.menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}



/* Main Hero Section Styles */
.hero {
      background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4.8rem 0;

}

.hero .intro {
    text-align: center;
    color:#000;
    margin: 0 5rem;
}

 .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.me{
    display: flex;
       
       justify-content: space-evenly;
          align-items: center;
       height: 100%;

}

/* About section styles */
.ab{
    display: flex;      
       justify-content: space-evenly;
          align-items: center;
  
}
.aboutme{
    background-color:#363D73;
    padding: 40px;
    border-radius: 50px;
    box-shadow:10px 10px #080d2c;
   
   
}
#intern{
     display: flex;      
       justify-content: space-evenly;
          align-items: center;
}
#internship{
    background-color:#363D73;
         box-shadow:10px 10px #080d2c;
    padding: 40px;
    border-radius: 50px;
}

#skills{
    height: 100vh;
}
.sub{
      
     display: flex;
    align-items: center;
    justify-content: center;
    margin: 4.8rem 0;
    padding: 30px;     
}
.lang{ 
   background-color: #363D73 ;
   box-shadow:5px 10px #080d2c; 
   /* box-shadow:10px 10px ; */
   padding: 40px;
   margin: 5px;
   border-radius: 50px;
}
table {
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
}
.pro{
    display: flex;
   flex-direction: row;
   margin: 0px;
}
.myrow{
    
     background-color: #363D73 ;
box-shadow:7px 10px #080d2c;; 
   /* box-shadow:10px 10px ; */
   padding: 40px;
   margin: 5px;
   border-radius: 50px;
   

}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
  background-color:#363D73 ;
  color: white;
}

th {
  color: chocolate;
  font-size: larger;
  
}

tr:nth-child {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0f7fa;
}



/* Portfolio section styles */
.portfolio {
    margin: 4.8rem 0;
    padding: 0 5rem;
}

.port-card {
    padding: 0 !important;
    background: none !important;
    border: 2px solid #000;
}

.port-card .image {
    width: 100%;
}

.port-card .image img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}



/* Services section styles */
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4.8rem 0;
    padding: 0 5rem;
    
}
.myrow:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}
.lang:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}
.intro:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}
#internship:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}
.aboutme:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}
table:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}

/* Contact section styles */
.contact {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    margin-left: 330px;
   
}
.contact-details{
    background-color: #363D73;
     box-shadow:5px 10px #080d2c; 
    padding: 45px;
    border-radius: 50px;
}
.contact-details:hover{
    transform: scale(0.9,0.9);
    transition: 2s;
}
.details{
    color: whitesmoke;
}

/* Footer Styles */
.footer {
    background-color: #000;
    color: whitesmoke;
    height: 30px;
    padding: 2rem;
}
.ab{
    height: 100vh;
}







/* utility classes */
.greet-heading {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 1px;
}

.my-heading {
    font-size: 2.5rem;
    margin: 0;
}

.sub-heading {
    margin: 0;
    font-size: 0.8rem;
    color: #ccc;
    font-weight: lighter;
}

.links:hover {
    border-bottom: 2px solid #fff;
}

.links {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.common-btn {
    background-color:#363D73;
    color: #fff;
    border: 2px solid #363D73;
    transition: all 0.25s;
}

.common-btn:hover {
    background-color: #d8cfcf;
    color: #080d2c;
    border: 2px solid #080d2c;
    outline: none;

}


.ghost-btn {
  background-color: #363D73;
    color: #fff;
    border: 2px solid #363D73;
    transition: all 0.25s;
}

.ghost-btn:hover {
    background-color: #d8cfcf;
    color: #080d2c;
    border: 2px solid #080d2c;
    outline: none;
}

.heading-span {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.small-para {
    font-size: 14px;
    color: #fff;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: #363D73;
}
.whatsapp-float {

  bottom: 20px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.linkedin-float:hover{
    transform: scale(1.1);
}